name: Build Pi4 BabyCam

on:
  push:
    branches:
      - main
      - dev/*
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Repository auschecken
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: recursive
          
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential git wget curl bc bison flex libncurses5-dev \
            libssl-dev u-boot-tools python3 python3-pip rsync

      # Build starten
      - name: Set project and build
        run: |
          make set-project-pi4_babycam
          make

      # Artifact hochladen
      - name: Upload SD card image
        uses: actions/upload-artifact@v3
        with:
          name: pi4_babycam_sdcard
          path: build/pi4_babycam/images/sdcard.img
